.student-result-page .list-group-item{margin-bottom: 0px; border-bottom: 1px solid black;}
.student-single-exam .list-group-item{margin-bottom: 0px; border-bottom: 1px solid black;}
.student-single-exam .student-single-save-button{margin-left: 400px;;}

